<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    package="com.jinfukeji.taqu">

    <uses-permission android:name="android.permission.INTERNET"/>

    <application
        android:name=".TaQuAppcation"
        android:allowBackup="false"
        android:icon="@mipmap/ic_launcher"
        android:label="@string/app_name"
        android:supportsRtl="true"
        android:theme="@style/AppTheme">
        <activity android:name=".FirstStartActivity">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity android:name=".BufferActivity"/>
        <activity android:name=".guide.GuideActivity"/>
        <activity android:name=".MainActivity"/>
        <activity android:name=".activity.taotaotiantang.TaoTaoTianTangActivity" android:theme="@style/notitleBar"/>
        <activity android:name=".activity.xianshiqiang.FlashSalectivity" android:theme="@style/notitleBar"/>
        <activity android:name=".activity.dengluandzhuce.DengluActivity"/>
    </application>

</manifest>